Log in
%form{action: "/sessions", method: "post"}
  %p <input type="text" name="email" placeholder="Email"> 
  %p <input type="password" name="password" placeholder="Password"> 
  %input{type: "submit", value: "Log in"}