body {

}

.header {
  margin: -10px;
  padding: 20px;
  background-color: grey;
}

.sign-in {
  text-align: right;
  text-decoration: none;
  color: black;
}

.peep {
  margin-left: 5%;
  margin-top: 70px;
  position: absolute;
  width: 200px;
  height: 100px;
}

textarea {
  background-color: lightblue;
  color: purple;
}

.peeps{
  position: absolute;
  margin-left: 30%;
  margin-top: 40px;
}

.peeps li:nth-child(odd) {
  background-color: black;
  color: white;
}

.error {
  margin-top: -50px;
  position: absolute;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
}