!!!
%html
  %body
    %form
      Enter your name <input type="text" name="name"> 
      Enter your username <input type="text" name="username"> 
      Enter your email <input type="text" name="email"> 
      Enter your password <input type="text" name="password"> 
      Type your password again <input type="text" name="password_again"> 