%nav{class: "header"}

  - if current_user

    %section{class: "welcome"}
      = "Welcome, #{current_user.username}"
      %form{action: "/sessions", method: "post"}
        %input{type: "hidden", name: "_method", value: "delete"}
        %input{type: "submit", value: "Log out"}

  - else

    %section{class: "sign-in"}
      %a{href:"/users/new"} Sign up
      %a{href:"/sessions/new"} Log in

  %section{class: "peep"}
    %form{action: "/peeps/new", method: "post"}
      %textarea{name: "peep", cols:"40", rows:"5", size: "200", maxlength: "140"}
      %input{type: "submit", value: "PEEP"}