!!!
%html 
  %body

  %a{href:"/users/new"} Sign up

  %a{href:"sessions/new"} Log in

  %form{action: "/sessions", method: "post"}
    %input{type: "hidden", name: "_method", value: "delete"}
    %input{type: "submit", value: "Log out"}




