!!!
%html 
  %body

    %ul 
      - @peeps.reverse.each do |peep|
        %li 
          %p #{peep.user.name} 
          %p #{peep.user.username} 
          %p #{peep.message} 
          %p #{time_word(peep)} 





